<div class="sidebar-container">
  <div class="sidebar-logo">
    <img src="assets/logo.png" height="25%" width="35%" class="logo">
    <!-- <h6 class="brand">ICT Academy of Kerala</h6> -->
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Navigation</li>
    <li>
      <a href="#" class="navlink">
        <i class="fa fa-home " aria-hidden="true"></i> Homepage
      </a>
    </li>
    <li>
      <a href="#" class="navlink">
        <i class="fas fa-tachometer-alt" aria-hidden="true"></i> Dashboard
      </a>
    </li>
    <li class="header">Options</li>
    <li>
      <a href="#" class="navlink">
        <i class="fa fa-users" aria-hidden="true"></i> Trainers
      </a>
    </li>
    <li>
      <a href="#" class="navlink">
        <i class="fas fa-envelope-open-text" aria-hidden="true"></i> Requests 
      </a>
    </li>
    <li>
      <a href="#" class="navlink">
        <i class="fas fa-book-open" aria-hidden="true"></i> Courses
      </a>
    </li>
    <li>
      <a href="#" class="navlink">
        <i class="fas fa-cog" aria-hidden="true"></i> Settings 
      </a>
    </li>
  </ul>
</div>


<div id="content">
  <nav class="navbar navbar-default  topnav">
    <div class="container-fluid">
      <ul class="nav navbar-nav ml-auto">
        <li>
          <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
          </a>
        </li>
        <li><a href="#">
            <button type="button" class="btn btn-info ms-auto logoutbtn">Logout</button>
        </a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    
  </div>
</div>
