<app-statcards></app-statcards>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10 tablemsr">
      <div class="heading card">
        <div class="card-body bg-info text-white">
          <!-- <i class="fa fa-table" style="float: left;"></i> -->
          <h4>Trainers Details</h4>
        </div>
      </div>
      <br>
      <div class="col-sm-4">
        <form class="form-inline sm-form form-sm mt-0">
          <!-- <i class="fa fa-search" aria-hidden="true"></i>
          <input id="searchInput" (keyup)="searchFn()" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"> -->
        </form>
      </div>
      <br>
      <table id="trainerTable" class="table table-hover table-bordered">
        <colgroup>
          <col span="1">
          <col span="1" style="width: 15%;">
          <col span="1">
          <col span="1">
          <col span="1">
          <col span="1" style="width: 30%;">
        </colgroup>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">
              Name
            </th>
            <th scope="col">
              Trainer Type
            </th>
            <th scope="col">
              Qualification
            </th>
            <th scope="col">
              Skills
            </th>
            <th scope="col">
              Courses
            </th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              <input id="nameSearch" (keyup)="searchFn(1,'nameSearch')" (focus)= "clearFilters()" class="tableFilter form-control form-control-sm" type="text" placeholder="Search" aria-label="Search">
            </th>
            <th scope="col">
              <input id="typeSearch" (keyup)="searchFn(2,'typeSearch')" (focus)= "clearFilters()" class="tableFilter form-control form-control-sm" type="text" placeholder="Search" aria-label="Search">
            </th>
            <th scope="col">
              <input id="qualSearch" (keyup)="searchFn(3,'qualSearch')" (focus)= "clearFilters()" class="tableFilter form-control form-control-sm" type="text" placeholder="Search" aria-label="Search">
            </th>
            <th scope="col">
              <input id="skillSearch" (keyup)="searchFn(4,'skillSearch')" (focus)= "clearFilters()" class="tableFilter form-control form-control-sm" type="text" placeholder="Search" aria-label="Search">
            </th>
            <th scope="col">
              <input id="courseSearch" (keyup)="searchFn(5,'courseSearch')" (focus)= "clearFilters()" class="tableFilter form-control form-control-sm" type="text" placeholder="Search" aria-label="Search">
            </th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr *ngFor="let trainer of trainers">
            <td>
              <a routerLink="/trainer/{{trainer.ictId}}">{{trainer.ictId}}</a>
            </td>
            <td><a routerLink="/trainer/{{trainer.ictId}}">{{trainer.fname}} {{trainer.sname}}</a></td>
            <td>{{trainer.type}}</td>
            <td>{{trainer.qualification}}</td>
            <td>{{trainer.skills}}</td>
            <td>{{trainer.course}}</td>
          </tr>
        </tbody>
      </table>
      <small class="text-muted">*Click on name to view detailed profile</small>
    </div>
    <div class="col-md-12 text-center">
      <ul class="pagination pagination-lg pager" id="myPager"></ul>
    </div>
  </div>
</div>