<div class="container ">
    <div class="row cardspec">
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-blue cardwid">
                <div class="inner">
                    <h3> 15+ </h3>
                    <p> Courses </p>
                </div>
                <div class="icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <a routerLink="/courses" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <!-- <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green">
                <div class="inner">
                    <h3> ₹185358 </h3>
                    <p> Today’s Collection </p>
                </div>
                <div class="icon">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
                <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div> -->
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-orange cardwid">
                <div class="inner">
                    <h3> 20+ </h3>
                    <p> Trainers</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
                <a routerLink='/trainer' class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card-box bg-red cardwid">
                <div class="inner">
                    <h3> 30000+</h3>
                    <p>Students</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-3 col-sm-6">
            <a href="http://www.uiuxstream.com/dashboard-user-profile-page-design-using-bootstrap-4/">uiuxstream</a>
        </div>
    </div> -->
</div>
