<div class="sidebar-container">
  <div class="sidebar-logo">
    <img src="assets/logo.png" height="25%" width="35%" class="logo">
    <!-- <h6 class="brand">ICT Academy of Kerala</h6> -->
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Navigations</li>
    <li>
      <a routerLink="/trainer" class="navlink">
        <i class="fa fa-home" aria-hidden="true"></i> Profile
      </a>
    </li>
    <li>
      <a routerLink="/calender" class="navlink">
        <i class="fas fa-envelope-open-text" aria-hidden="true"></i> Calendar 
      </a>
    </li>
    <li class="header">Settings</li>
    <li>
      <a routerLink="/changepassword" class="navlink">
        <i class="fas fa-key" aria-hidden="true"></i> Change Password 
      </a>
    </li>
  </ul>
</div>


<div id="content">
  <nav class="navbar navbar-default  topnav navbar-fixed">
    <div class="container-fluid">
      <ul class="nav navbar-nav ml-auto">
        <li><a>
            <button type="button" (click)="logout()" class="btn btn-info ms-auto logoutbtn">Logout</button>
        </a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    
  </div>
</div>
