<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <!-- Home and Logo -->
                    <div class="row"> <img src="assets/logo.png" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="assets/member.jpg" class="image"> </div>
                    <!-- End of home and Logo -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="login">Thank You</h1>  
                    <br>
                    <div>
                        <p>
                            Thank you for your submission. 
                        </p>
                      
                        <p>
                            You will receive an email shortly with the password reset link.
                        </p>
                    </div>
                    <br>
                    <div class="row"> 
                        <div class="mb-3 px-3">
                            <a routerLink="/"><button type="submit" class="btn btn-blue text-center" >Back to Home</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <app-footer></app-footer>
    </div>
  </div>

