<app-trainer-navbars></app-trainer-navbars>
<br>
<div style="min-height: 65vh; margin-left:250px;">
    <div class="col-md-4 mb-3">
        <div class="card-body">
            <div class="tab-pane" id="security">
                <form id="changePwdForm" name="changePwdForm" #changePwdForm="ngForm" (ngSubmit)="changePassword()" novalidate=true>
                    <div class="form-group">

                        <div class="row px-3"> 
                            <label class="mb-1">
                                <h6>Change Password</h6>
                            </label> 
                            <hr>
                            <input class="form-control" type="password" name="currentPassword" placeholder="Enter Current Password" required
                                #currentPassword='ngModel' [class.is-invalid]='currentPassword.invalid && currentPassword.touched' 
                                [(ngModel)]='credentials.currentPassword'/>
                            <div class='text-danger' [class.d-none]='currentPassword.valid || currentPassword.untouched'>
                                <span [class.d-none]='!(currentPassword.errors && currentPassword.errors.required)'>Current password can not be blank.</span> 
                            </div>
                            <input type="password" name="newPassword" class="form-control mt-1" placeholder="Enter New Password" required minlength="8"
                                #newPassword='ngModel' [class.is-valid]='newPassword.valid' [class.is-invalid]='newPassword.invalid && newPassword.touched' 
                                [(ngModel)]='credentials.newPassword'/>
                            <div class='text-danger' [class.d-none]='newPassword.valid || newPassword.untouched'>
                                <span [class.d-none]='!(newPassword.errors && newPassword.errors.required)'>New password can not be blank.</span> 
                                <span [class.d-none]='!(newPassword.errors && newPassword.errors.minlength)'>Password should be minimum 8 characters</span> 
                            </div>
                            <input type="password" name="rePwd" class="form-control mt-1" placeholder="Confirm New Password" required
                                #rePwd='ngModel' [class.is-invalid]='rePwd.invalid && rePwd.touched' 
                                [(ngModel)]='repeatedPwd'/>
                            <div class='text-danger' [class.d-none]='rePwd.valid || rePwd.untouched'>
                                <span [class.d-none]='!(rePwd.errors && rePwd.errors.required)'>Re enter new password.</span> 
                            </div>
                            <hr>
                        </div>
                        <div class="row"> 
                            <div class="mb-3 px-3"> 
                                <br>
                                <button type="submit" class="btn btn-blue text-center" [disabled]='changePwdForm.form.invalid'>Submit</button>
                            </div>
                            <div class="mb-3 px-3"> 
                                <br>
                                <a routerLink="/profile"><button type="submit" class="btn btn-blue text-center">Cancel</button></a>
                            </div>
                        </div>
                        <!-- Success/error message card -->
                        <div id="success" class="text-center col-12" [class.d-none]='status=="none"'>
                            <div class='alert alert-warning' [class.d-none]='status!="connecting"'>
                                <strong>Saving..</strong>
                            </div>
                            <div class='alert alert-success' [class.d-none]='status!="success"'>
                                <strong>Successfully saved</strong>
                            </div>
                            <div class='alert alert-danger' [class.d-none]='status!="error"'>
                                <strong>{{errorMsg}}</strong>
                            </div>
                        </div>
                        <!-- End of success/error message card -->
                    </div>
                </form>
            </div>
        </div>      
    </div>
</div>
<br>
