<app-trainer-navbars></app-trainer-navbars>
<br>
<div class="col-md-4 mb-3">

    <div class="card-body">
        <div class="tab-pane" id="security">
        <form>
            <div class="form-group">

                <div class="row px-3"> 
                    <label class="mb-1">
                        <h6>Change Password</h6>
                    </label> 
                    <hr>
                    <input class="form-control" type="password" name="password" placeholder="Enter Old Password" required minlength="8"
                     #password='ngModel' [class.is-valid]='password.valid' [class.is-invalid]='password.invalid && password.touched' 
                     [(ngModel)]='user.password'/>
                    <div class='text-danger' [class.d-none]='password.valid || password.untouched'>
                        <span [class.d-none]='!(password.errors && password.errors.required)'>Password can not be blank.</span> 
                        <span [class.d-none]='!(password.errors && password.errors.minlength)'>Password should be minimum 8 characters</span> 
                    </div>
                    <input type="text" class="form-control mt-1" placeholder="Enter New Password" required minlength="8">
                    <div class='text-danger' [class.d-none]='password.valid || password.untouched'>
                        <span [class.d-none]='!(password.errors && password.errors.required)'>Password can not be blank.</span> 
                        <span [class.d-none]='!(password.errors && password.errors.minlength)'>Password should be minimum 8 characters</span> 
                    </div>
                    <input type="text" class="form-control mt-1" placeholder="Confirm New Password" required minlength="8">
                    <div class='text-danger' [class.d-none]='password.valid || password.untouched'>
                        <span [class.d-none]='!(password.errors && password.errors.required)'>Password can not be blank.</span> 
                        <span [class.d-none]='!(password.errors && password.errors.minlength)'>Password should be minimum 8 characters</span> 
                    </div>
                    <hr>
                </div>
                <div class="row"> 
                    <div class="mb-3 px-3"> 
                        <br>
                        <a routerLink="/profile"><button type="submit" class="btn btn-blue text-center">Submit</button></a> 
                    </div>
                    <div class="mb-3 px-3"> 
                        <br>
                        <a routerLink="/profile"><button type="submit" class="btn btn-blue text-center">Back</button></a>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>      
</div>    
<br><br><br>
<app-trainer-footer></app-trainer-footer>