
.col-md-4 
{
    margin : auto;
    margin-top: 8%;
    border: 10px solid green;
    padding: 10px;
}

.card-body
{
    margin : auto;
    
    padding: 10px;

}
.tab-pane
{
    margin : auto;
    
    padding: 10px;
}
.btn-blue {
    background-color: #2781aa;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.mb-1 {
    text-align: center;
    
  }