<app-admin-navbars></app-admin-navbars>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10 tablemsr">
      <div class="heading card">
        <div class="card-body bg-info text-white">
          <!-- <i class="fa fa-table" style="float: left;"></i> -->
          <h4>Courses</h4>
      </div>
    </div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Course Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{course.courseId}}</td>
          <td>{{course.courseName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>