<app-admin-navbars></app-admin-navbars>
<div class="container">
    <div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-10 tablemsr">
  <div class="heading card">
    <div class="card-body bg-info text-white">
    <!-- <i class="fa fa-table" style="float: left;"></i> -->
    <h4>Courses</h4>
  </div>
</div>
<br>
      <div class="col-sm-4">
        <form class="form-inline sm-form form-sm mt-0">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    <br>
  <table class="table table-hover table-bordered">
    
    <thead>
      
      <tr>
        <th scope="col">Sl.No</th>
        <th scope="col">Course Title</th>
          <th scope="col">Duration</th>
        <th scope="col">Course Fee</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cyber Security Analyst</td>
        <td>6 months</td>
        <td>Rs.35000</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>XR-Learning Path</td>
        <td>6 months</td>
        <td>Rs.30000</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Data Science & Analytics</td>
        <td>6 months</td>
        <td>Rs.40000</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Full Stack Development</td>
        <td>6 months</td>
        <td>Rs.21000</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Robotic Process Automation</td>
        <td>6 months</td>
        <td>Rs.35000</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Digital Marketing</td>
        <td>6 months</td>
        <td>Rs.25000</td>
      </tr>
      
     
    </tbody>
  </table>
</div>
<div class="row gallery-bottom">
  <div class="col-sm-6">
      <ul class="pagination">
          <li>
              <a href="#" aria-label="Previous">
                  <span aria-hidden="true">«</span>
              </a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
              <a href="#" aria-label="Next">
                  <span aria-hidden="true">»</span>
              </a>
          </li>
      </ul>
  </div>
  <!-- <div class="col-sm-6 text-right">
      <em>Displaying 1 to 8 (of 100 posts)</em>
  </div> -->
</div>
</div>
</div>
