body{
    margin: 0;
    padding: 0;
}
.logo{
    margin-top: 2%;
    margin-bottom: 90%;
    margin-left: 10%;
   
}


.formblock{
    margin-top: 2%;
    margin-left: 3%;
}

.formblock h1{
    text-align: center;
    color: rgb(40, 126, 160);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-style: italic; */
    font-weight: 600;
    text-shadow: 2px 2px 2px grey;
}

.topnav{
    height: 100px;
    width: 115%;
   margin-top: 0%;
   /* border: 1px solid red; */
   margin-left: -8%;
   margin-block-end: auto;
   box-shadow: 5px 2px 5px #413f3f;
   
}
.card{
   box-shadow: 5px 2px 5px #413f3f;
   margin-bottom: 10%;
}
.welcome{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: end;
    color: white;
}

body {
    font-family: 'Lato', sans-serif
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5%;
}