<div class="container">
    <div class="row">
        <div class="col-md-12">
  <nav class="navbar navbar-expand-lg bg-info  topnav navbar-fixed logo">
      <img src="../../../assets/logo.png" height="80px" width="80px" style="margin-left: 5%;">
      <h6 class="welcome ml-auto">Welcome</h6>
    </nav>
</div>
        <div class="col-md-3 ">
            
            
        </div>
        <div class="col-md-6 formblock">
            <h1>Trainer Enrollment Form</h1>
            <div class="card">
                <form id="reg_form" name="reg_form" #trainerReg="ngForm">
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"> <label for="fname">Firstname *</label> <input id="fname" type="text" name="fname" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required."> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"> <label for="lname">Lastname *</label> <input id="lname" type="text" name="lname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required."> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"> <label for="Gender">Gender *</label> <select id="Gender" name="Gender" class="form-control" required="required">
                                        <option value="Male" selected>Male</option>
                                        <option value="Female">Female</option>                                   
                                    </select> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"> <label for="qualification">Qualification *</label> <select id="qualification" name="qualification" class="form-control" required="required">
                                        <option value="Male" selected>Male</option>
                                        <option value="Female">Female</option>                                   
                                    </select> </div>
                            </div>
                            
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"> <label for="phone">Phone *</label> <input id="phone" type="text" name="phone" class="form-control" placeholder="Please enter your Phone Number  *" required="required"> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"> <label for="email">Email *</label> <input id="email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"> <label for="company">Company *</label> <input id="company" type="text" name="company" class="form-control" placeholder="Current Company *" required="required"> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"> <label for="designation">Designation *</label> <input id="designation" type="text" name="designation" class="form-control" placeholder="Current Designation *" required="required"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"> <label for="address">Address *</label> <input id="address" type="textarea" name="address" class="form-control" placeholder="Permanent Address *" required="required"> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"> <label for="skills">Skills *</label> <input id="skills" type="text" name="skills" class="form-control" placeholder="Please enter your Skill set *" required="required"> </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"> <label for="photo">Photo *</label> <input id="photo" type="file" name="photo" class="form-control"> </div>
                                
                            </div>
                            <div class="col-md-12"> <input type="submit" class="btn btn-info btn-send pt-2 btn-block " value="Submit"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>