<app-admin-navbars></app-admin-navbars>
<div style="margin-left:250px; margin-top: 70px;">
    <div class="container">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body bg-info text-white mailbox-widget pb-0">
                    <h2 class="text-white pb-3">Pending Enrollment Requests</h2>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="inbox" aria-labelledby="inbox-tab" role="tabpanel">
                        <div>
                            <!-- Mail list-->
                            <div class="table-responsive">
                                <table class="table email-table no-wrap table-hover v-middle mb-0 font-14">
                                    <colgroup>
                                        <col span="1">
                                        <col span="1" style="width: 15%;">
                                        <col span="1">
                                        <col span="1">
                                        <col span="1" style="width: 30%;">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Qualification</th>
                                        <th scope="col">Skills</th>
                                        <th scope="col">Course</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <!-- row -->
                                        <tr *ngFor="let request of requests">
                                            <!-- <a routerLink="/trainer/{{request.ictId}}"></a> -->
                                            <td>
                                                <a routerLink="/trainer/{{request.ictId}}">
                                                    <span class="mb-0">{{request.ictId}}</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a routerLink="/trainer/{{request.ictId}}">
                                                    <span class="mb-0 text-wrap">{{request.fname}} {{request.sname}}</span>
                                                </a>
                                            </td>
                                            <td>
                                                <span class="mb-0 text-wrap">{{request.qualification}}</span>
                                            </td>
                                            <td>
                                                <span class="mb-0 text-wrap">{{request.skills}}</span>
                                            </td>
                                            <td>
                                                <span class="mb-0 text-wrap">{{request.course}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <small class="text-muted">*Click on name to view detailed profile</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
