<app-statcards></app-statcards>
<div class="container">
    <div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-10 tablemsr">
  <div class="heading card">
    <div class="card-body bg-info text-white">
    <!-- <i class="fa fa-table" style="float: left;"></i> -->
    <h4>Trainer Details</h4>
  </div>
</div>
<br>
      <div class="col-sm-4">
        <form class="form-inline sm-form form-sm mt-0">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    <br>
  <table class="table table-hover table-bordered">
    
    <thead>
      
      <tr>
        <th scope="col">
          <div class="col-lg-4 float-right ">
    
          <i class="fa fa-filter filpd"></i><i class="fa fa-sort fapd"></i>
        </div>
        ID</th>
        <th scope="col">
          <div class="col-lg-4  float-right">
    
            <i class="fa fa-filter filpd"></i><i class="fa fa-sort fapd"></i>
          </div>Name</th>
          <th scope="col">
            <div class="col-lg-4  float-right">
      
              <i class="fa fa-filter filpd"></i><i class="fa fa-sort fapd"></i>
            </div>Email</th>
        <th scope="col">
          <div class="col-lg-4  float-right">
    
            <i class="fa fa-filter filpd"></i><i class="fa fa-sort fapd"></i>
          </div>Trainer</th>
        <th scope="col">
          <div class="col-lg-4  float-right">
    
            <i class="fa fa-filter filpd"></i><i class="fa fa-sort fapd"></i>
          </div>Skill Set</th>
          <th scope="col">
            <div class="col-lg-4  float-right">
      
              <i class="fa fa-filter filpd"></i><i class="fa fa-sort fapd"></i>
            </div>Courses</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Meera Mathew</td>
        <td>m.meera@ictak.com</td>
        <td>Internal</td>
        <td>Skills</td>
        <td>FSD,CSA</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Nitha Anilkumar</td>
        <td>a.nitha@ictak.com</td>
        <td>Internal</td>
        <td>Skills</td>
        <td>FSD,CSA</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Remya U L</td>
        <td>ul.remya@ictak.com</td>
        <td>Internal</td>
        <td>Skills</td>
        <td>FSD,CSA</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Gokul G</td>
        <td>g.gokul@ictak.com</td>
        <td>Internal</td>
        <td>Skills</td>
        <td>FSD,CSA</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Nithya Jose</td>
        <td>j.nithya@ictak.com</td>
        <td>Empanelled</td>
        <td>Skills</td>
        <td>DM,DSA</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Sreenath K C </td>
        <td>kc.sreenath@ictak.com</td>
        <td>Empanelled</td>
        <td>Skills</td>
        <td>XRP</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Deepthi V</td>
        <td>v.deepthi@ictak.com</td>
        <td>Industry Expert</td>
        <td>Skills</td>
        <td>DSA</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Midhun M Raj</td>
        <td>r.midhun@ictak.com</td>
        <td>Industry Expert</td>
        <td>Skills</td>
        <td>CSA</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row gallery-bottom">
  <div class="col-sm-6">
      <ul class="pagination">
          <li>
              <a href="#" aria-label="Previous">
                  <span aria-hidden="true">«</span>
              </a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
              <a href="#" aria-label="Next">
                  <span aria-hidden="true">»</span>
              </a>
          </li>
      </ul>
  </div>
  <!-- <div class="col-sm-6 text-right">
      <em>Displaying 1 to 8 (of 100 posts)</em>
  </div> -->
</div>
</div>
</div>