<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <!-- Home and Logo -->
                    <div class="row"> <img src="assets/logo.png" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="assets/member.jpg" class="image"> </div>
                    <!-- End of home and Logo -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <h1 class="login">Password Assistance</h1>  
                    <br>
                    <!-- Success/error message card -->
                    <div id="success" class="text-center col-12" [class.d-none]='status=="none"'>
                        <div class='alert alert-warning' [class.d-none]='status!="connecting"'>
                            <strong>Sending..</strong>
                        </div>
                        <div class='alert alert-success' [class.d-none]='status!="success"'>
                            <strong>{{successMsg}}</strong>
                        </div>
                        <div class='alert alert-danger' [class.d-none]='status!="error"'>
                            <strong>{{errorMsg}}</strong>
                        </div>
                    </div>
                    <!-- End of success/error message card -->
                    <!-- password reset form -->
                    <div *ngIf="!changedPwd">
                        <form id="resetPasswordForm" name="resetPasswordForm" #pwdReset="ngForm" (ngSubmit)="resetPwd()" novalidate=true>
                            <div class="row px-3"> 
                                <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label> 
                                <input class="form-control" type="email" name="email" placeholder="Enter your email address"
                                    required pattern='^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}'
                                    #email='ngModel' [class.is-valid]='email.valid' [class.is-invalid]='email.invalid && email.touched' 
                                    [(ngModel)]='credentials.email' [disabled]="resetCodeSent"/>
                                <p class='text-danger' [class.d-none]='email.valid || email.untouched || email.disabled'>Please enter a valid email.</p>
                            </div>
                            <div class="row"> 
                                <div class="mb-3 px-3">
                                    <button type="button" (click)="getResetCode()" class="btn btn-blue text-center" [disabled]='email.invalid || email.disabled'>Get Reset Code</button>
                                </div>
                                <div class="mb-3 px-3" *ngIf="!resetCodeSent">
                                    <a type="button" routerLink="/" class="btn btn-blue text-center">Back</a>
                                </div>
                                <div class="mb-3 px-3" *ngIf="resetCodeSent">
                                    <button type="button" (click)="resetForm()" class="btn btn-blue text-center">Wrong email id?</button>
                                </div>
                            </div>
                            <!-- Display this div only after reset code is successfully sent -->
                            <div *ngIf='resetCodeSent'>
                                <div class="row px-3"> 
                                    <label class="mb-1"><h6 class="mb-0 text-sm">Reset Code</h6></label> 
                                    <input class="form-control" type="text" name="resetCode" placeholder="Enter reset code received in your email"
                                        required minlength="6" maxlength="6" pattern='^[0-9]+$'
                                        #resetCode='ngModel' [class.is-valid]='resetCode.valid' [class.is-invalid]='resetCode.invalid && resetCode.touched' 
                                        [(ngModel)]='credentials.resetCode'/>
                                    <p class='text-danger' [class.d-none]='resetCode.valid || resetCode.untouched'>Please enter a valid code.</p>
                                </div>
                                <div class="row px-3"> 
                                    <label class="mb-1"><h6 class="mb-0 text-sm">New Password</h6></label> 
                                    <input class="form-control" type="password" name="password" placeholder="Enter new password"
                                        required minlength="8"
                                        #password='ngModel' [class.is-valid]='password.valid' [class.is-invalid]='password.invalid && password.touched' 
                                        [(ngModel)]='credentials.password'/>
                                    <div class='text-danger' [class.d-none]='password.valid || password.untouched'>
                                        <span [class.d-none]='!(password.errors && password.errors.required)'>New password can not be blank.</span> 
                                        <span [class.d-none]='!(password.errors && password.errors.minlength)'>Password should be minimum 8 characters</span> 
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <label class="mb-1"><h6 class="mb-0 text-sm">Repeat Password</h6></label>
                                    <input class="form-control" type="password" name="repwd" placeholder="Re enter new password"
                                        required minlength="8"
                                        #repwd='ngModel' [class.is-valid]='repwd.valid' [class.is-invalid]='repwd.invalid && repwd.touched' 
                                        [(ngModel)]='repeatPassword'/>
                                    <div class='text-danger' [class.d-none]='repwd.valid || repwd.untouched'>
                                        <span [class.d-none]='!(repwd.errors && repwd.errors.required)'>Repeated password can not be blank.</span> 
                                        <span [class.d-none]='!(repwd.errors && repwd.errors.minlength)'>Password should be minimum 8 characters</span> 
                                    </div>
                                </div>
                                <!-- <label class="mb-1"><h6 class="mb-0 text-sm">Save new password</h6></label> -->
                                <div class="row">
                                    <div class="mb-3 px-3">
                                        <button type="submit" class="btn btn-blue text-center" [disabled]='pwdReset.form.invalid'>Submit</button>
                                    </div>
                                    <div class="mb-3 px-3">
                                        <a type="button" routerLink="/" class="btn btn-blue text-center">Back</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end of password reset form -->
                    <!-- display this div after password reset -->
                    <div *ngIf="changedPwd">
                        <br>
                        <br>
                        <br>
                        <div class="mb-3 px-3 d-flex justify-content-center">
                            <a type="button" routerLink="/" class="btn btn-blue text-center">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <app-footer></app-footer>
    </div>
</div>

