<app-trainer-navbars></app-trainer-navbars>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="container" >
            <div class="main-body">
                <div class="row gutters-sm" >
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                            </div>      
                        </div>
                    </div>
                </div>
            </div>    
        </div>

    </div>
</div>
<app-trainer-footer></app-trainer-footer>